@model IEnumerable<MovieRentalApp.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Movie Name</th>
        <th>Genre</th>
    </tr>
    @foreach (var item in (IEnumerable<MovieRentalApp.Models.Movie>)Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@Html.ActionLink(item.MovieName, "MovieDetails", new { item.Id })</td>
        <td>@item.Genre.GenreName</td>
    </tr>
    }
</table>